/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Estilo para o header */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 2rem;
}

/* Estilo do main */
main {
    text-align: center;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Estilo do footer */
footer {
    position: absolute;
    bottom: 10px;
    font-size: 0.8rem;
    color: #777;
}
